@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*** ### Section Two ### ***/
.section-two{
	position:relative;
	padding:75px 0px 0px 0px;
	background:#FFF;
}
.section-two .cx_left{
	position:relative;
	margin-top:25px;
}
.section-two .cx_left img{
	margin-bottom:30px;
	border-radius:5px;
}
.section-two  .cx_right{
	position:relative;
	margin-top:25px;
}
.section-two h2{
	color:#f0af00;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	margin:0px;
	padding:0px;
}
.section-two h3{
	position:relative;
	margin:0px;
	padding:20px 0px 20px 0px;
	color:#203260;
	font-size:45px;
	font-weight:700;
}
.section-two h3:before{
	content:"";
	position:absolute;
	left:0px;
	bottom:0px;
	width:50px;
	height:2px;
	background:#f0af00;
}
.section-two h3:after{
	content:"";
	position:absolute;
	left:52px;
	bottom:0px;
	width:50px;
	height:2px;
	background:#f0af00;
}
.section-two p{
	color:#101020;
	font-size:16px;
	line-height:25px;
	font-weight:400;
	padding:30px 0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}
.section-two  a{
	padding:15px 30px;
	border-radius:5px;
	color:#252525;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	outline:none;
	display:inline-block;
	vertical-align:top;
	border:1px solid #252525;
}
@media (max-width:1024px){
.section-two h2{
	font-size:12px;
}
.section-two h3{
	font-size:35px;
}
.section-two p{
	font-size:15px;
	line-height:22px;
	padding:20px 0px;
}
.section-two  a{
	padding:12px 20px;
}
}
@media (max-width:991px){
.section-two{
	padding:50px 0px 0px 0px;
}
.section-two h3{
	font-size:30px;
}
.section-two h3:before{
	width:40px;
}
.section-two h3:after{
	width:40px;
}
.section-two p{
	font-size:15px;
	line-height:20px;
	padding:20px 0px;
}
.section-two  a{
	padding:12px 20px;
}
}
@media (max-width:767px){
.section-two .cx_row_reverse{
    flex-direction: column-reverse;
}
.section-two{
	padding:30px 0px 0px 0px;
}
.section-two .cx_left img{
	width:100%;
	margin-bottom:15px;
}
.section-two  .cx_right{
	position:relative;
	margin-top:25px;
}
.section-two h3{
	font-size:25px;
}
.section-two h3 br{
	display:none;
}
}
