@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.section-four{
	position:relative;
	/* background:url(../images/yellow-dots.png) no-repeat; */
	background-size:cover;
	padding:50px 0px;
}
.section-four .cx_left{
	position:relative;
}
.section-four .cx_right{
	position:relative;
}
.section-four h2{
	position:relative;
	margin:0px;
	padding:0px 0px 0px 0px;
	color:#ffffff;
	font-size:45px;
	font-weight:700;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
}
.section-four a.involve{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:300px;
	background:#000000;
	outline:none;
	cursor:pointer;
	text-align:left;
	padding:0px 20px;
	margin:20px 0px 0px 0px;
    margin-left: 60px;
	height:50px;
	line-height:50px;
	font-weight:700;
	font-size:15px;
	color:#FFF;
	text-transform:uppercase;
	text-decoration:none;
}
.section-four a.involve span{
	position:absolute;
	right:20px;
	line-height:50px;
}
@media (max-width:1024px){
.section-four h2{
	font-size:35px;
}
}
@media (max-width:991px){
.section-four h2{
	font-size:30px;
	text-align:center;
}
.section-four .cx_right{
	text-align:center;
}
}
@media (max-width:767px){
.section-four h2{
	font-size:25px;
}
.section-four h2 br{
	display:none;
}
}
