@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*** ### News Letter ### ***/
.cx_news_letter{
	position:relative;
	background:#626262;
	line-height:70px;
}
.cx_news_letter p{
	display:inline-block;
	vertical-align:middle;
	padding:20px 0px;
	margin:0px;
	line-height:normal;
	color:#FFF;
	font-size:24px;
	font-weight:700;
}
.cx_news_letter .cx_contact_area{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding:10px 150px 0px 0px;
	width:100%;
}
.cx_news_letter .cx_contact_area input{
	width:100%;
	/* background:url(../images/envelope-contact.png) left 20px center no-repeat, #FFF; */
	border-radius:50px;
	height:45px;
	outline:none;
	border:none;
	color:#9e9e9e;
	font-size:15px;
	padding:0px 0px 0px 60px;
}
.cx_news_letter .cx_contact_area button{
	position:absolute;
	right:0px;
	height:45px;
	width:120px;
	border-radius:50px;
	background:#ffa500;
	color:#FFF;
	font-size:15px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	outline:none;
	border:none;
}
@media (max-width:1024px){
.cx_news_letter p{
	font-size:22px;
}
}
@media (max-width:991px){
.cx_news_letter p{
	font-size:20px;
}
}
@media (max-width:767px){
.cx_news_letter{
	line-height:normal;
	padding:15px 0px;
}
.cx_news_letter p{
	font-size:18px;
}
}
@media (max-width:576px){
.cx_news_letter .cx_contact_area{
	position:relative;
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	padding:0px 0px 0px 0px;
	width:100%;
}
.cx_news_letter .cx_contact_area input{
	width:100%;
	/* background:url(../images/envelope-contact.png) left 20px center no-repeat, #FFF; */
	border-radius:50px;
	height:45px;
	outline:none;
	border:none;
	color:#9e9e9e;
	font-size:15px;
	padding:0px 0px 0px 60px;
}
.cx_news_letter .cx_contact_area button{
	position:relative;
	display:block;
	right:auto;
	height:45px;
	width:120px;
	margin:15px auto 0px auto;
}
}
