.section-about{
	position:relative;
	background:#f5f5f5;
}

.section-about container-fluid row{
	margin:0px;
	padding: 10px;
}
.section-about .cx_left{
	position:relative;
}
.section-about .cx_right{
	position:relative;
	padding:5% 0px 0px 5%;
}
.section-about .cx_right .cx_list{
	position:relative;
	padding:500px 0px 0px 100px;
	margin-bottom:20px;
	min-height:80px;
}
.section-about .cx_right .cx_list .cx_icon{
	position:absolute;
	left:0px;
	width:75px;
}
.section-about .cx_about{
	position: relative;
	padding:10% 10%;
}
.section-about h2{
	color:#f0af00;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
	margin:0px;
	padding:0px 0px;
	text-align:left;
}
.section-about h3{
	position:relative;
	margin:0px;
	padding:0px 0px 50px 0px;
	color:#203260;
	font-size:45px;
	font-weight:700;
	text-align:left;
}
.section-about h4{
	font-size:20px;
	font-weight:600;
	color:#2d2d2d;
	margin:0px;
	padding:0px;
	text-align:left;
}
.section-about p{
	color:#101020;
	font-size:16px;
	line-height:25px;
	font-weight:400;
	padding:0px 0px 40px 0px;
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}
@media (max-width:1024px){
.section-about .cx_right .cx_list .cx_icon{
	position:absolute;
	left:0px;
	width:75px;
}
.section-about h2{
	font-size:12px;
}
.section-about h3{
	padding:0px 0px 30px 0px;
	font-size:35px;
}
.section-about h4{
	font-size:18px;
}
.section-about p{
	font-size:15px;
}
}
@media (max-width:991px){
.section-about .cx_right{
	position:relative;
	padding:5% 0px 0px 0%;
}
.section-about h2{
	font-size:12px;
}
.section-about h3{
	padding:0px 0px 20px 0px;
	font-size:30px;
}
.section-about h4{
	font-size:16px;
}
.section-about p{
	font-size:13px;
}
}
@media (max-width:767px){
.section-about .cx_right{
	position:relative;
	padding:50px 0px 0px 0%;
}
.section-about h2{
	font-size:12px;
}
.section-about h3{
	padding:0px 0px 20px 0px;
	font-size:25px;
}
.section-about h4{
	font-size:16px;
}
.section-about p{
	font-size:13px;
}
}